@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing:0.03em;
}

body {
  min-height: 100vh;
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
}

p, div {
  font-family: 'Roboto Condensed', sans-serif;
}

i {
  display: none !important;
}

.clear {
  clear: both; }

#wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100vh;
}

/* MLH STUFF */
#mlhbadge {
  width: 15%;
  position: absolute;
}

/*Sidebar stuff*/

#sidebar {
  flex: 0 0 30vw;
  width: 30vw;
  max-width: 400px;
  height: 100%;
  background-color: #546db2;
  color: #fff;
  overflow-y: scroll;
}

#sidebar .wrapper {
  margin: 0 auto;
  text-align: center;
}

#sidebar .icon {
  margin-top: 20%;
  max-height: 30%;
  width: auto;
}

#sidebar p {
  font-family: "Roboto Condensed", sans-serif;
}

#sidebar p.name {
  margin-top: 10px;
  font-size: 3em;
}

#sidebar p.info {
  margin-top: -10px;
  font-size: 1.5em;
}

#sidebar p.slogan {
  font-size: 1em;
  margin-top: 10px;
}

#sidebar .links{
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

#sidebar .links li {
  display: block;
  margin: 10px 0px;
}

#sidebar .links a {
  color: #fff;
  text-decoration: none;
  transition: width .5s ease, background-color .5s ease;
}

#sidebar .links a:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  margin: 0px auto;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

#sidebar .links a:hover:after {
  margin: 0px auto;
  background: #fff;
}

#sidebar .links li.slack a:hover:after {
  width: 46px;
}

#sidebar .links li.guide a:hover:after {
  width: 50px;
}

#sidebar .links li.contact a:hover:after {
  width: 100px;
}

#sidebar .links li.apis a:hover:after {
  width: 80px;
}

#sidebar .links li.map a:hover:after {
  width: 45px;
}

#sidebar .links li.devpost a:hover:after {
  width: 80px;
}

#sidebar .social {
  text-align: center;
  margin-top: 30px;
}

#sidebar .social .socialicon {
  max-height: 30px;
  margin: 0px 15px;
}

/*Container stuff*/

.container {
  margin-left: 30px;
  color: #546db2;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container .content {
  margin-top: 50px;
  margin-left: 70px;
  padding-right: 50px;
}

/*Scrollbar stuff*/

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #546db2;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #546db2;
}

#schedule {
    margin-top: 24px;
    position: relative;
    height: 4920px;
}
#schedule-calendar {
    position: absolute;
    top: 48px;
    width: 100%;
}
.schedule-venue {
  font-family: "Roboto Condensed", sans-serif;
    color: #546db2;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
/*    opacity: 0.36;*/
    margin-bottom: 12px;
    text-align: center;
    z-index: 3;
    position: relative;
    background-color: white;
    border-bottom: solid 1px grey;
    padding-top: 50px;
    margin-top: -50px;
    margin-right: -10px;
    margin-left: -10px;
}
.schedule-column:first-child .schedule-venue {
    padding-left: 70px;
    margin-left: -70px;
}

.schedule-column:last-child .schedule-venue {
    padding-right: 10px;
    margin-right: -10px;
}

.schedule-calendar-hour {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 120px;
    position: relative;
}
.schedule-calendar-hour .hour {
    position: absolute;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.5;
    top: -9px;
    left: -72px;
    width: 60px;
    text-align: right;
    font-weight: 700;
}


.schedule-calendar-hour::after {
    content: '';
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 59px;
    width: 100%;
}

.schedule-column-container {
    display:flex;
}
.schedule-column {
    width: calc(33% - 6px);
    height: 100%;
    float: left;
    margin-left: 12px;
    position: relative;
}
.schedule-column:nth-child(1) {
    margin-left: 0px;
}
.schedule-item {
    background: #fff;
    color: #4a4a4a;
    border-radius: 2px;
    padding: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    width: calc(100% - 24px);
    position: absolute;
    border-left: 6px solid #546db2;
    border-top: 1px solid #546db2;
    border-bottom: 1px solid #546db2;
    border-right: 1px solid #546db2;
    transition: 0.3s ease;
    overflow-y: scroll;
}

.schedule-item.offset-1 {
    margin-left: 6px;
    width: calc(100% - 30px)
}

.schedule-item.offset-2 {
    margin-left: 12px;
    width: calc(100% - 36px)
}

.schedule-item.offset-3 {
    margin-left: 18px;
    width: calc(100% - 42px)
}

.schedule-item-subtitle {
    opacity: 0.6;
}


.schedule-item-subtitle a, .schedule-item-caption a {
    text-decoration: underline;
}

.schedule-item.shortened .schedule-item-subtitle, .schedule-item.shortened .schedule-item-caption {
    opacity: 0;
    transition: 0.3s ease;
}

.schedule-item.shortened:hover .schedule-item-subtitle {
    opacity: 0.6;
}

.schedule-item.shortened:hover .schedule-item-caption {
    opacity: 1;
}

.schedule-item.shortened:hover {
    height: initial !important;
}

.schedule-item:hover {
    transform: scale(1.1,1.1);
    z-index: 2;
    -webkit-box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.51);
    box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.51);
}

.schedule-item-1 {
    height: 24px;
}
.schedule-item-2 {
    height: 84px;
}
.schedule-item-3 {
    height: 144px;
}
.schedule-item-4 {
    height: 204px;
}
.schedule-item-5 {
    height: 264px;
}
.schedule-item-caption {
    font-weight: normal;
    margin-top: 10px;
}
.schedule-item-1 .schedule-item-caption {
    display: inline-block;
}
.schedule-item-1 .schedule-item-title {
    display: inline-block;
    margin-right: 6px;
}

#schedule-indicator {
    width: calc(100% + 24px);
    height: 4px;
    position: absolute;
    background: #b4656f;
    top: 48px;
    opacity: 0;
}
#schedule-indicator::after {
    content: '';
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 12px solid #b4656f;
    position: absolute;
    top: -4px;
    right: 0px;
    width: 0px;
    height: 0px;
}
.schedule-content {
    position: relative;
}

.schedule-banner {
    width: 100% !important;
    z-index: 1;
}

#schedule-hacking-begin {
    background: #b4656f;
    color: white;
    top: 588px;
    position: absolute;
    width: calc(100% - 24px);
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 2px;
    font-weight: 700;
    text-align: center;
    opacity: 0.6;
}

#schedule-submit {
    background: #b4656f;
    color: white;
    top: 4788px;
    position: absolute;
    width: calc(100% - 24px);
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 2px;
    font-weight: 700;
    text-align: center;
    opacity: 0.6;
}

#schedule-hacking-end {
    background: #b4656f;
    color: white;
    top: 4908px;
    position: absolute;
    width: calc(100% - 24px);
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 2px;
    font-weight: 700;
    text-align: center;
    opacity: 0.6;
}
#schedule-guide-left {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 20px;
    opacity: 0.6;
    display: none;
    z-index: 2;
    cursor: pointer;
}
#schedule-guide-right {
    position: absolute;
    top: -5px;
    right: 0px;
    width: 20px;
    opacity: 0.72;
    display: none;
    z-index: 2;
    cursor: pointer;
}

#header-submit {
    float: right;
    background: #1abc9c;
    border-radius: 2px;
    padding: 12px;
    margin-top: 2px;
    cursor: pointer;
}
#header-submit-icon {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 12px;
}
#header-submit-caption {
    float: left;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

#footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 12px 0px;
    font-size: 12px;
    line-height: 18px;
    color: #3D3A3A;
    left: 0px;
}
#footer a {
    font-weight: 700;
    color: #546db2;
}

@media screen and (max-width: 960px) {
  #wrapper {
    flex-direction: column; }

  #sidebar {
    position: relative;
    width: 100%;
    height: 378px;
    flex: 1;
  }

  #sidebar .icon {
    margin-top: 20px;
    height: 100px;
    width: auto;
  }


  .container {
      width: auto;
      margin: 0px;
  }

  .container .content {
    margin: 0px;
    padding: 30px 30px;
  }

  .schedule-content {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100% !important;
  }
  .schedule-column-container {
    display: block;
    width: 100%;
    height: 100%;
  }
  .schedule-column {
      width: 100%;
      height: 100%;
      float: left;
      margin: 0px;
  }
  .schedule-venue {
      text-align: center;
      font-size: 16px;

      position: relative;
      top: -6px;
  }
  .schedule-item {
      width: calc(100% - 80px); 
      margin-left: 60px;
  }

    .schedule-item.offset-1 {
        margin-left: 66px;
        width: calc(100% - 30px)
    }

    .schedule-item.offset-2 {
        margin-left: 72px;
        width: calc(100% - 36px)
    }

    .schedule-item.offset-3 {
        margin-left: 78px;
        width: calc(100% - 42px)
    }

    .schedule-item:hover {
        transform: none;
        z-index: initial;
        box-shadow: none;
    }

  .schedule-calendar-hour {
      margin-left: 60px;
  }

  #schedule-guide-right {
    display: block;
  }
  #header-submit {
      float: none;
  }
    #live-stream {
        display: none;
    }
    #sticker-challenge {
        width: calc(100% - 39px);
        margin: 0px;
        height: initial;
    }

}
