@import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

/* variables */
$bodyfont: 'Roboto Condensed', sans-serif;
$titlefont: 'Roboto Slab', serif;
$rosegold: #cd989f;
$lighter: #f1e2e4;

* {
  padding: 0;
  margin: 0;
  border-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
 }

 body {
  font-family: $bodyfont;
  background-color: $rosegold;
  color: #fff;
}

#landing {
  height: 100%;
  .contents {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  img {
    max-height: 40%;
    width: auto;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    font-size: 3.5em;
    letter-spacing:.08em;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: .08em;
  }

  #form {
      margin: 30px 0px;
      font-size: 0px;
      text-align: center;
      width: 45%;

      button {
        width: 10%;
        text-transform: uppercase;
        font-family: $bodyfont;
        letter-spacing: .08em;
        font-size: 20px;
        font-weight:bold;
        /*margin-left: -4px;*/
        outline: 0;
        color: #fff;
        border: 2px #fff solid;
        background: none;
        width: 35%;
        padding: 4px;
        margin-top: 10px;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
    }

    button:hover {
      background-color: #fff;
      color: $rosegold;
      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
    }
  }

  input {
    outline: 0;
    border: 0;
    padding: 6px;
    width: 45%;
    font-size: 20px;
    text-transform: uppercase;
    font-family: $bodyfont;
    letter-spacing: .08em;
    color: $rosegold;
  }

  #apply {
    border: 0;
    outline: 0;
    font-family: $bodyfont;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    color: $rosegold;
    padding: 15px 30px;
    font-size: 1.5em;
    letter-spacing: .1em;
    margin-top: 20px;
  }
}

#intro {
  background-color: #fff;
  color: $rosegold;

  .contents {
    padding: 15% 15%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

    b {
      font-size: 2em;
    }
  }
}

#faq {
  //height: 100%;
  background-color: $rosegold;

  .contents {
    padding: 50px 10%;
    text-align: center;
    font-size: 20px;
  }

  h3 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .03em;
    margin-bottom: 30px;
  }

  .faqcolumn {
    width: 45%;
    display: inline-block;
    margin: 0px 1%;
    vertical-align: top;
  }

  .faqelem {
    text-align: left;
    margin-bottom:20px;
  }

  .question {
    background-color: #fff;
    color: $rosegold;
    padding:20px 20px 14px 20px;
    cursor: pointer;
  }

  .question:after {
    //font-family: 'squarespace-ui-font';
    color: $rosegold;
    -webkit-font-smoothing: antialiased;
    content: ">";
    position: relative;
    float:right;
    font-size: 1em;
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .answer {
    border: 3px solid #fff;
    padding: 0px 20px;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    padding-right: 2em;

    a {
      color: #fff;
    }
  }

  .activeanswer {
    padding: 20px;
    max-height: 100%;
  }

  .flipButton:after {
   -webkit-transform: rotate(270deg);
   -ms-transform: rotate(270deg);
   transform: rotate(270deg);
 }
}

#sponsors {
  background-color: #fff;
  color: $rosegold;

  .contents {
    padding: 50px 13%;
    text-align: center;
  }

  h3 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .03em;
    margin-bottom: 15px;
  }

  h5 {
    font-size: 1em;
    letter-spacing: .03em;
    margin-bottom: 20px;

    a {
      color: $rosegold;
    }
  }

  .sponsor {
    display: inline-block;
    max-height: 100px;
    margin: 20px 20px;
    opacity: 0.55;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
  }

  .sponsor:hover {
    opacity: 1.0;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
  }
}

#footer {
  background-color: $rosegold;
  color: #fff;

  .contents {
    padding: 50px 13%;
  }

  #social {
    margin-bottom: 15px;
  }
  .socialicon {
    max-height: 30px;
    margin: 0px 10px;
  }
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $rosegold;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $rosegold;
}

@media screen and (max-width: 1200px) {
  #landing {
    #form {
      text-align: center;
      button {
        margin-top: 10px;
        width: 80%;
      }
      input {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 968px) {
  #sponsors {
    .sponsor {
      max-height: 50px;
    }
  }
  #faq
  {
    .faqcolumn {
      width: 100%;
    }
  }
}

@media screen and (max-height:700px) {
#landing {
    img {
      max-height: 40%;
    }

    h1 {
      font-size: 2.5em;
    }

    h3 {
      font-size: 1em;
    }


    #form button {
      font-size: 14px;
    }

    input {
      font-size: 14px;
    }
  }
}
